body {
  /* background-color: */
  background-color: rgb(207,231,250);
  color:white;
}



table {
  margin: 0 auto;
  border: 3px solid black;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  color:white;
  background-color:gray;
  box-shadow: none;
  cursor: pointer;
  
}
.cell::selection {
  background: transparent;
}

.revealed {
  cursor: none;
  background-color:rgb(169,169,169);
 
}

.safeClick{
  background-color:royalblue;
}

.levels {
  display: block;
  position: fixed;
  /* left: 300px; */
  top: 140px;
  background-color:lightskyblue;
  border: black solid;
  width: 100px;
  height: 110px;
  color:black;
  
}


.level{
  background-color: lightseagreen;
  /* display: block; */
    width: 100px;
    border: black solid;
    
}

.lives{
  color: blue;
}

.hints {
 color: blue;
  
}
.safeClicks{
  color: blue;
}

.hidden{
  visibility: hidden;
}


.timer {
  background-color: lightseagreen;
  display:none;
  top:10px;
  right: 10px;
  padding: 5px;
  width: 150px;
  position: absolute;
}

.title{
  color:rgb(32, 76, 178);
  text-align: center;

}
